body{
    display: flex;
    align-items: baseline;
    justify-self: center;
    background: #1e1e1e;
    color: white;
    min-height: 100vh;
}

h1,p{
font-weight: lighter;
}
.container{
    background: #2e2e2e;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
     text-align: center;
}
input[type="number"], input [type="text"] {
    width: 80%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
}

button {
margin-top: 10px;
padding: 10px 20px;
border: none;
cursor: pointer;
background: #ff7f50;
color: #fff;
font-weight: bold;
}

button:hover{
    background-color: #ff5722;
}

label {
    display: block;
    margin: 5px 0;
}

.nav a{
    background: white;
    width: 100%;
    max-width: 100%;
}


